.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.list{
  min-height: 400px;
  width: 400px;
  background-color: red;
  padding: 10px;
  border-radius: 25px;
}

.list-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card{
  width: 380px;
  min-height: 100px;
  background-color: blue;
  margin-top: 15px;
  text-align: left;
  font-size: large;
  border-radius: 25px;
  padding:10px;
}

#list-space{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}